<section class="ct_login_bg">

    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-8 col-md- mx-auto">
                <div class="ct_login_white_bg ct_mt_60 ct_mb_60">
                    <div class="ct_logo text-center mb-4">
                        <img src="assets/img/logo.svg" alt="">

                    </div>
                    <div class="text-center mb-4">
                        <h4 class="ct_fs_28 ct_fw_600">Log In</h4>

                    </div>


                    <form action="">
                        <div class="ct_input-container">
                            <input placeholder="Email Address" class="ct_input-field" type="text">
                            <label for="ct_input-field" class="ct_input-label">Email Address</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <div class="ct_input-container position-relative">

                            <i class="fa-regular fa-eye-slash ct_eye_show"></i>
                            <input placeholder="Password" class="ct_input-field" type="password">

                            <label for="ct_input-field" class="ct_input-label">Password</label>
                            <span class="ct_input-highlight"></span>
                        </div>
                        <!-- <div class="text-end" >
                            <a href="javasscript:void(0)" class="ct_forgot_pass_link">Forgot your password</a>
                        </div> -->

                        <div class="mt-5">
                            <a routerLink="/home/dashboard" type="button" class="ct_purple_btn w-100">Log In</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>