<div class="ct_px_30 pb-4">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
            <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_600 ct_border_btm_1 pb-2 ct_w_fit_content mb-0">Group
                Chat
            </h4>
            <div class="ct_search ">
                <input type="text" class="form-control" style="padding-right: 34px;" placeholder="Search"
                    (input)="search($event)">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="table-responsive ">
                    <table class="table ct_custom_table">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Chatroom Name</th>
                                <th>Created By</th>
                                <th>Participants</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(data.length == 0) {
                            <tr>
                                <td colspan="5" class="text-center ct_fs_18 ct_fw_600 mb-0">No chatrooms found</td>
                            </tr>
                            }
                            @for (item of data; track $index) {
                            <tr>
                                <td>
                                    {{ $index + 1 }}
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img [src]="item.profilePic ? item.profilePic :  'assets/img/np_pro.png'" alt=""
                                            class="ct_img_40 ct_border_1">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">{{item.name}}</h6>
                                            <!-- <p class="mb-0 ct_text_clr_6B7280">#design-team</p> -->
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">{{item.admin.fullName}}</td>
                                <td class="ct_text_clr_6B7280">{{item.participants.length}}</td>

                                <td>
                                    <a routerLink="/home/chat-room-talk" [queryParams]="{id: item.id}"> <i
                                            class="fa-solid fa-eye"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="d-flex align-items-center gap-2 ct_text_clr_6B7280">
                        <label for="pageSize" class="ct_fs_18">Items per page: </label>
                        <select id="pageSize" class="pageSize" [(ngModel)]="pageSize"
                            (change)="changePageSize(pageSize)">
                            <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}
                            </option>
                        </select>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Table pagination">
                        <ul class="pagination mb-0">
                            <li class="page-item" [class.disabled]="currentPage === 1">
                                <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                            </li>
                            <li class="page-item d-flex align-items-center mx-2">
                                <div class="ct_fs_18">
                                    Page {{ currentPage }} of {{ totalPages }}
                                </div>
                            </li>
                            <li class="page-item" [class.disabled]="currentPage === totalPages">
                                <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>