<div class="ct_px_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_600 mb-5 ct_border_btm_1 pb-2 ct_w_fit_content">Group
            Chat
        </h4>

        <div class="row ">
            <div class="col-md-12">
                <div class="table-responsive ">
                    <table class="table ct_custom_table">
                        <thead>
                            <tr>
                                <th>Chatroom Name</th>
                                <th>Created By</th>
                                <th>Participants</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of data; track $index) {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img [src]="item.profilePic ? item.profilePic :  'assets/img/np_pro.png'" alt=""
                                            class="ct_img_40 ct_border_1">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">{{item.name}}</h6>
                                            <!-- <p class="mb-0 ct_text_clr_6B7280">#design-team</p> -->
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">{{item.admin.fullName}}</td>
                                <td class="ct_text_clr_6B7280">{{item.participants.length}}</td>

                                <td>
                                    <a routerLink="/home/chat-room-talk" [queryParams]="{id: item.id}"> <i
                                            class="fa-solid fa-eye"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>