<div class="ct_px_30">
    <div class="container-fluid">
        <h4 class="ct_fs_26 ct_fw_600 mb-4">Dashboard</h4>
        <div class="row">
            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 mb-2 ct_black_text ct_text_op_07 ">Total eBooks
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_600">{{data?.TotalBooks}}</h4>
                        </div>
                        <div>
                            <img src="assets/img/card_icon_1.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 mb-2 ct_black_text ct_text_op_07 ">Total Readers
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_600">{{data?.TotalUsers}}</h4>
                        </div>
                        <div>
                            <img src="assets/img/card_icon_2.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 mb-2 ct_black_text ct_text_op_07 ">Total Authors
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_600">{{data?.TotalAuthors}}</h4>
                        </div>
                        <div>
                            <img src="assets/img/card_icon_2.png" alt="">
                        </div>
                    </div>

                </div>
            </div>

            <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 mb-2 ct_black_text ct_text_op_07 ">Active Chatrooms
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_600">{{data?.ActiveChatRoom}}</h4>
                        </div>
                        <div>
                            <img src="assets/img/card_icon_3.png" alt="">
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div class=" col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_dash_card_grid_2">
                        <div class="ct_card_title">
                            <h6 class="ct_fs_16 mb-2 ct_black_text ct_text_op_07 ">Total Revenue
                            </h6>
                            <h4 class="mb-0  ct_fs_28 ct_fw_600">$94,251</h4>
                        </div>
                        <div>
                            <img src="assets/img/card_icon_4.png" alt="">
                        </div>
                    </div>

                </div>
            </div> -->

        </div>
        <div class="row ">
            <div class="col-md-6 mb-4">
                <div class="ct_white_bg ct_p_30">
                    <!-- <div class="ct_flex_2">
                        <h2 class="ct_fs_24  ct_fw_600">Books Uploaded</h2>
                    </div> -->
                    <!-- <div class="ct_mt_40" id="chart">

                    </div> -->
                    <div class="ct_chart_img">
                        <img src="assets/img/lne_chart.png" alt="">
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-4">
                <div class="ct_white_bg ct_p_30">
                    <!-- <div class="ct_flex_2">
                        <h2 class="ct_fs_24  ct_fw_600">Active Users</h2>
                    </div> -->
                    <!-- <div class="ct_mt_40" id="barChart">

                    </div> -->
                    <div class="ct_chart_img">
                        <img src="assets/img/column_chart.png" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ct_logout_modal_post" tabindex="-1" aria-labelledby="ct_delete_postLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-0 border-0">
                <button type="button" class="btn-close ct_close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="ct_delete_post_modal">
                    <figure>
                        <div class="ct_delete_post_icon">
                            <i class="fa-solid fa-power-off"></i>
                        </div>
                        <figcaption class="mt-4">
                            <h4 class="ct_fs_18 ct_fw_600">Log Out</h4>
                            <p class="mb-0">Are you sure you want to logout? once you logout you need to login
                                again.</p>
                        </figcaption>
                    </figure>
                    <div class="modal-footer justify-content-center border-0 ct_modal_footer">
                        <button type="button" class="ct_blue_btn ct_outline_blue w-100 ct_fw_600"
                            data-bs-dismiss="modal">Cancel</button>
                        <a class="ct_blue_btn ct_btn_red w-100 ct_fw_600 text-center">Log
                            Out</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>