<div class="ct_px_30">
    <div class="container-fluid">
        <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_600 mb-5 ct_border_btm_1 pb-2 ct_w_fit_content">Readers
        </h4>

        <div class="row ">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table ct_custom_table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Books Purchased</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">John Smith</h6>
                                            <p class="mb-0 ct_text_clr_6B7280">Author</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">john.smithexample.com</td>
                                <td class="ct_text_clr_6B7280">12</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #166534; background-color: #DCFCE7;">Active</span>
                                </td>
                                <td>
                                    <button class="ct_red_btn">Suspend User</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">John Smith</h6>
                                            <p class="mb-0 ct_text_clr_6B7280">Author</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">john.smithexample.com</td>
                                <td class="ct_text_clr_6B7280">12</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #166534; background-color: #DCFCE7;">Active</span>
                                </td>
                                <td>
                                    <button class="ct_red_btn">Suspend User</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">John Smith</h6>
                                            <p class="mb-0 ct_text_clr_6B7280">Author</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">john.smithexample.com</td>
                                <td class="ct_text_clr_6B7280">12</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #166534; background-color: #DCFCE7;">Active</span>
                                </td>
                                <td>
                                    <button class="ct_red_btn">Suspend User</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">John Smith</h6>
                                            <p class="mb-0 ct_text_clr_6B7280">Author</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">john.smithexample.com</td>
                                <td class="ct_text_clr_6B7280">12</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #166534; background-color: #DCFCE7;">Active</span>
                                </td>
                                <td>
                                    <button class="ct_red_btn">Suspend User</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">John Smith</h6>
                                            <p class="mb-0 ct_text_clr_6B7280">Author</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">john.smithexample.com</td>
                                <td class="ct_text_clr_6B7280">12</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #166534; background-color: #DCFCE7;">Active</span>
                                </td>
                                <td>
                                    <button class="ct_red_btn">Suspend User</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">John Smith</h6>
                                            <p class="mb-0 ct_text_clr_6B7280">Author</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">john.smithexample.com</td>
                                <td class="ct_text_clr_6B7280">12</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #166534; background-color: #DCFCE7;">Active</span>
                                </td>
                                <td>
                                    <button class="ct_red_btn">Suspend User</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">John Smith</h6>
                                            <p class="mb-0 ct_text_clr_6B7280">Author</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">john.smithexample.com</td>
                                <td class="ct_text_clr_6B7280">12</td>
                                <td>
                                    <span class="ct_badge"
                                        style="color: #166534; background-color: #DCFCE7;">Active</span>
                                </td>
                                <td>
                                    <button class="ct_red_btn">Suspend User</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>



            </div>


        </div>


    </div>
</div>