.remove {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: white;
  border-radius: 50%;
}

.et_big_preview {
  height: 300px;
  width: 100%;
  object-fit: contain;
  border: 1px solid #e1e2e9;
  border-radius: 10px;
}
.et_img_preview_146 {
  height: 145px;
  width: 100%;
  object-fit: contain;
  border: 1px solid #e1e2e9;
  border-radius: 10px;
}
