<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="ct_light_blue_bg">
                <div class="ct_full_height ct_pt_127">
                    <div class="ct_edit_profile_bg">
                        <h4 class="ct_fs_24 text-center ct_mb_50 ct_fw_600">Change Password</h4>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group mb-3">
                                <label for="" class="ct_fw_600 mb-2">Current password <span
                                        class="ct_red_star">*</span></label>
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}"
                                        placeholder="Current Password" name="text" autocomplete="off"
                                        class="form-control ct_input" formControlName="current_password" maxlength="15">
                                    <i class="fa-regular ct_show_eye"
                                        [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility1()"></i>
                                </div>
                                <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                                    class="err_msg">
                                    <div *ngIf="form.controls['current_password'].errors?.['required']">Current
                                        password
                                        is
                                        required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="" class="ct_fw_600 mb-2">New password <span
                                        class="ct_red_star">*</span></label>
                                <div class="position-relative">
                                    <!-- <input type="text" class="form-control ct_input">
                                    <i class="fa-regular fa-eye-slash ct_show_eye"></i> -->
                                    <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                                        placeholder="New Password" name="text" autocomplete="off"
                                        class="form-control ct_input" formControlName="newPassword">
                                    <i class="fa-regular ct_show_eye"
                                        [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility2()"></i>
                                </div>
                                <div *ngIf="form.controls['newPassword'].invalid && form.controls['newPassword'].touched"
                                    class="error-message">
                                    <div *ngIf="form.controls['newPassword'].errors?.['required']"
                                        class="ct_fs_14 mt-1">
                                        New password is
                                        required.
                                    </div>
                                    <div
                                        *ngIf="form.controls['newPassword'].errors?.['strongPassword'] && !form.controls['newPassword'].errors?.['required']">
                                        <div *ngIf="
                    !form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                            New password must be at least 8 characters long.
                                        </div>
                                        <div *ngIf="!form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                            New password must contain at least one uppercase letter.
                                        </div>
                                        <div *ngIf="!form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                            New password must contain at least one lowercase letter.
                                        </div>
                                        <div *ngIf="!form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                        form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                            New password must contain at least one number.
                                        </div>
                                        <div *ngIf="!form.controls['newPassword'].errors?.['strongPassword'].hasSpecialCharacter &&
                        form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                        form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                            New password must contain at least one special character.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="" class="ct_fw_600 mb-2">Confirm new password <span
                                        class="ct_red_star">*</span></label>
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                                        placeholder="Confirm Password" name="text" autocomplete="off"
                                        class="form-control ct_input" formControlName="confPassword" maxlength="15">
                                    <i class="fa-regular ct_show_eye"
                                        [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                        (click)="togglePasswordVisibility3()"></i>
                                </div>
                                <div *ngIf="form.controls['confPassword'].touched" class="err_msg">
                                    <div *ngIf="form.controls['confPassword'].errors?.['required']">
                                        Confirm password is required.</div>
                                    <div
                                        *ngIf="form.errors?.['passwordMismatch'] && !form.controls['confPassword'].errors?.['required']">
                                        Passwords do not match.</div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="ct_blue_btn  mt-4">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="loading"></app-loader>