<div class="ct_px_30">
    <div class="container-fluid">
        <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_600 mb-5 ct_border_btm_1 pb-2 ct_w_fit_content">Order
            History
        </h4>

        <div class="row ">
            <div class="col-md-12">
                <div class="ct_outline_box">
                    <div class="ct_my_order_grid_96_auto">
                        <img src="assets/img/book_8.png" alt="">
                        <div class="ct_my_order_felx_34">
                            <div>
                                <h4 class="ct_fs_20 ct_fw_500 mb-2">Digital Marketing Essentials</h4>
                                <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>
                                <ul class="mt-2">

                                    <li>
                                        <svg width="20" height="24" viewBox="0 0 20 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_806_8346)">
                                                <mask id="mask0_806_8346" style="mask-type:luminance"
                                                    maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="24">
                                                    <path d="M20 0.572266H0V23.4294H20V0.572266Z" fill="white"></path>
                                                </mask>
                                                <g mask="url(#mask0_806_8346)">
                                                    <path
                                                        d="M6.78571 1.99936C6.72619 1.34467 6.36905 0.987551 5.71429 0.928013C5.05953 0.987551 4.70238 1.34467 4.64286 1.99936V3.78516H2.85714C2.05357 3.81487 1.38393 4.09759 0.848214 4.63332C0.3125 5.16905 0.029762 5.83871 0 6.6423V7.35658V9.49944V20.928C0.029762 21.7316 0.3125 22.4012 0.848214 22.9369C1.38393 23.4727 2.05357 23.7554 2.85714 23.7852H17.1429C17.9464 23.7554 18.6161 23.4727 19.1518 22.9369C19.6876 22.4012 19.9703 21.7316 20 20.928V9.49944V7.35658V6.6423C19.9703 5.83871 19.6876 5.16905 19.1518 4.63332C18.6161 4.09759 17.9464 3.81487 17.1429 3.78516H15.3571V1.99936C15.2976 1.34467 14.9405 0.987551 14.2857 0.928013C13.631 0.987551 13.2738 1.34467 13.2143 1.99936V3.78516H6.78571V1.99936ZM2.14286 9.49944H17.8571V20.928C17.8274 21.3744 17.5893 21.6125 17.1429 21.6423H2.85714C2.41071 21.6125 2.17262 21.3744 2.14286 20.928V9.49944Z"
                                                        fill="#4B5563"></path>
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_806_8346">
                                                    <rect width="20" height="22.8571" fill="white"
                                                        transform="translate(0 0.571289)"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>

                                        <p class="mb-0 ct_fs_14 ct_fw_500 ct_text_636363">Ordered on Jan 25,
                                            2025
                                        </p>
                                    </li>

                                </ul>

                                <div class="ct_btn_group mt-4 ct_other_login_btn_group">
                                    <a routerLink="/home/order-history-details"
                                        class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">View
                                        Detail</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="ct_outline_box mt-4">
                    <div class="ct_my_order_grid_96_auto">
                        <img src="assets/img/book_8.png" alt="">
                        <div class="ct_my_order_felx_34">
                            <div>
                                <h4 class="ct_fs_20 ct_fw_500 mb-2">Digital Marketing Essentials</h4>
                                <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>
                                <ul class="mt-2">

                                    <li>
                                        <svg width="20" height="24" viewBox="0 0 20 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_806_8346)">
                                                <mask id="mask0_806_8346" style="mask-type:luminance"
                                                    maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="24">
                                                    <path d="M20 0.572266H0V23.4294H20V0.572266Z" fill="white"></path>
                                                </mask>
                                                <g mask="url(#mask0_806_8346)">
                                                    <path
                                                        d="M6.78571 1.99936C6.72619 1.34467 6.36905 0.987551 5.71429 0.928013C5.05953 0.987551 4.70238 1.34467 4.64286 1.99936V3.78516H2.85714C2.05357 3.81487 1.38393 4.09759 0.848214 4.63332C0.3125 5.16905 0.029762 5.83871 0 6.6423V7.35658V9.49944V20.928C0.029762 21.7316 0.3125 22.4012 0.848214 22.9369C1.38393 23.4727 2.05357 23.7554 2.85714 23.7852H17.1429C17.9464 23.7554 18.6161 23.4727 19.1518 22.9369C19.6876 22.4012 19.9703 21.7316 20 20.928V9.49944V7.35658V6.6423C19.9703 5.83871 19.6876 5.16905 19.1518 4.63332C18.6161 4.09759 17.9464 3.81487 17.1429 3.78516H15.3571V1.99936C15.2976 1.34467 14.9405 0.987551 14.2857 0.928013C13.631 0.987551 13.2738 1.34467 13.2143 1.99936V3.78516H6.78571V1.99936ZM2.14286 9.49944H17.8571V20.928C17.8274 21.3744 17.5893 21.6125 17.1429 21.6423H2.85714C2.41071 21.6125 2.17262 21.3744 2.14286 20.928V9.49944Z"
                                                        fill="#4B5563"></path>
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_806_8346">
                                                    <rect width="20" height="22.8571" fill="white"
                                                        transform="translate(0 0.571289)"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>

                                        <p class="mb-0 ct_fs_14 ct_fw_500 ct_text_636363">Ordered on Jan 25,
                                            2025
                                        </p>
                                    </li>

                                </ul>

                                <div class="ct_btn_group mt-4 ct_other_login_btn_group">
                                    <a class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">View
                                        Detail</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="ct_outline_box mt-4">
                    <div class="ct_my_order_grid_96_auto">
                        <img src="assets/img/book_8.png" alt="">
                        <div class="ct_my_order_felx_34">
                            <div>
                                <h4 class="ct_fs_20 ct_fw_500 mb-2">Digital Marketing Essentials</h4>
                                <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>
                                <ul class="mt-2">

                                    <li>
                                        <svg width="20" height="24" viewBox="0 0 20 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_806_8346)">
                                                <mask id="mask0_806_8346" style="mask-type:luminance"
                                                    maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="24">
                                                    <path d="M20 0.572266H0V23.4294H20V0.572266Z" fill="white"></path>
                                                </mask>
                                                <g mask="url(#mask0_806_8346)">
                                                    <path
                                                        d="M6.78571 1.99936C6.72619 1.34467 6.36905 0.987551 5.71429 0.928013C5.05953 0.987551 4.70238 1.34467 4.64286 1.99936V3.78516H2.85714C2.05357 3.81487 1.38393 4.09759 0.848214 4.63332C0.3125 5.16905 0.029762 5.83871 0 6.6423V7.35658V9.49944V20.928C0.029762 21.7316 0.3125 22.4012 0.848214 22.9369C1.38393 23.4727 2.05357 23.7554 2.85714 23.7852H17.1429C17.9464 23.7554 18.6161 23.4727 19.1518 22.9369C19.6876 22.4012 19.9703 21.7316 20 20.928V9.49944V7.35658V6.6423C19.9703 5.83871 19.6876 5.16905 19.1518 4.63332C18.6161 4.09759 17.9464 3.81487 17.1429 3.78516H15.3571V1.99936C15.2976 1.34467 14.9405 0.987551 14.2857 0.928013C13.631 0.987551 13.2738 1.34467 13.2143 1.99936V3.78516H6.78571V1.99936ZM2.14286 9.49944H17.8571V20.928C17.8274 21.3744 17.5893 21.6125 17.1429 21.6423H2.85714C2.41071 21.6125 2.17262 21.3744 2.14286 20.928V9.49944Z"
                                                        fill="#4B5563"></path>
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_806_8346">
                                                    <rect width="20" height="22.8571" fill="white"
                                                        transform="translate(0 0.571289)"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>

                                        <p class="mb-0 ct_fs_14 ct_fw_500 ct_text_636363">Ordered on Jan 25,
                                            2025
                                        </p>
                                    </li>

                                </ul>

                                <div class="ct_btn_group mt-4 ct_other_login_btn_group">
                                    <a class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">View
                                        Detail</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="ct_outline_box mt-4">
                    <div class="ct_my_order_grid_96_auto">
                        <img src="assets/img/book_8.png" alt="">
                        <div class="ct_my_order_felx_34">
                            <div>
                                <h4 class="ct_fs_20 ct_fw_500 mb-2">Digital Marketing Essentials</h4>
                                <p class="mb-0 ct_fs_16 ct_text_636363">by Sarah Johnson</p>
                                <ul class="mt-2">

                                    <li>
                                        <svg width="20" height="24" viewBox="0 0 20 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_806_8346)">
                                                <mask id="mask0_806_8346" style="mask-type:luminance"
                                                    maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="24">
                                                    <path d="M20 0.572266H0V23.4294H20V0.572266Z" fill="white"></path>
                                                </mask>
                                                <g mask="url(#mask0_806_8346)">
                                                    <path
                                                        d="M6.78571 1.99936C6.72619 1.34467 6.36905 0.987551 5.71429 0.928013C5.05953 0.987551 4.70238 1.34467 4.64286 1.99936V3.78516H2.85714C2.05357 3.81487 1.38393 4.09759 0.848214 4.63332C0.3125 5.16905 0.029762 5.83871 0 6.6423V7.35658V9.49944V20.928C0.029762 21.7316 0.3125 22.4012 0.848214 22.9369C1.38393 23.4727 2.05357 23.7554 2.85714 23.7852H17.1429C17.9464 23.7554 18.6161 23.4727 19.1518 22.9369C19.6876 22.4012 19.9703 21.7316 20 20.928V9.49944V7.35658V6.6423C19.9703 5.83871 19.6876 5.16905 19.1518 4.63332C18.6161 4.09759 17.9464 3.81487 17.1429 3.78516H15.3571V1.99936C15.2976 1.34467 14.9405 0.987551 14.2857 0.928013C13.631 0.987551 13.2738 1.34467 13.2143 1.99936V3.78516H6.78571V1.99936ZM2.14286 9.49944H17.8571V20.928C17.8274 21.3744 17.5893 21.6125 17.1429 21.6423H2.85714C2.41071 21.6125 2.17262 21.3744 2.14286 20.928V9.49944Z"
                                                        fill="#4B5563"></path>
                                                </g>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_806_8346">
                                                    <rect width="20" height="22.8571" fill="white"
                                                        transform="translate(0 0.571289)"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>

                                        <p class="mb-0 ct_fs_14 ct_fw_500 ct_text_636363">Ordered on Jan 25,
                                            2025
                                        </p>
                                    </li>

                                </ul>

                                <div class="ct_btn_group mt-4 ct_other_login_btn_group">
                                    <a class="ct_purple_btn ct_border_corner_0 ct_fw_600 ct_btn_padd_res_15">View
                                        Detail</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>



            </div>


        </div>


    </div>
</div>