<section class="ct_login_bg">
      <div class="container">
            <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-8 col-md- mx-auto">
                        <div class="ct_login_white_bg ct_mt_60 ct_mb_60">
                              <div class="text-center mb-4">
                                    <h4 class="ct_fs_28 ct_fw_600">Verify Its You!</h4>
                                    <p class="mb-0 ct_fs_14">Enter the OTP sent to <span
                                                class="ct_purple_text">{{email}}</span></p>
                              </div>

                              <form [formGroup]="Form">
                                    <!-- <div class="ct_input-container">
                                          <input placeholder="Enter OTP" class="ct_input-field" type="text">
                                          <label for="ct_input-field" class="ct_input-label">Enter OTP</label>
                                          <span class="ct_input-highlight"></span>
                                    </div> -->
                                    <div class="ct_input-container">
                                          <nz-flex nzVertical>
                                                <h5 nz-typography>Enter OTP</h5>
                                                <nz-input-otp [nzLength]="4" formControlName="otp"
                                                      (keypress)="restrictToNumbers($event)"></nz-input-otp>
                                          </nz-flex>
                                          <div *ngIf="otp?.invalid && otp?.touched" class="error-message">
                                                <div class="ct_fs_14 mt-1">
                                                      Invalid OTP. Please enter a 4-digit number.
                                                </div>
                                          </div>
                                    </div>
                                    <div>
                                          <p class="mb-0 ct_fs_14 ct_fw_500">
                                                Didn’t receive the code?
                                                <a class="ct_purple_link ct_fs_14"
                                                      (click)=" isResendDisabled ? null : resendOtp()"
                                                      [class.disabled]="isResendDisabled">
                                                      Resend OTP
                                                </a>
                                                <span *ngIf="isResendDisabled">({{ countdown
                                                      }}s)</span>

                                          </p>
                                    </div>
                                    <div class="mt-5">
                                          <button (click)="onSubmit()" type="button" class="ct_purple_btn w-100">Verify
                                                OTP</button>
                                    </div>
                              </form>
                        </div>

                  </div>
            </div>

      </div>
</section>

<app-loader *ngIf="loading"></app-loader>