<div class="ct_px_30">
    <div class="container-fluid">
        <div class="mb-5 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a> <i class="fa-solid fa-arrow-left me-3" aria-colspan=""></i>
                </a>
                <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_600 mb-0  ct_border_btm_1 pb-2 ct_w_fit_content">
                    Sci-Fi
                    Lovers Club
                </h4>
            </div>
            <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_500 mb-0"><i class="fa-solid fa-users me-2"></i>234
                Members</h4>
        </div>

        <div class="row ">
            <div class="col-md-8 mb-4 mb-md-0">
                <div class="ct_white_bg">

                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                        <div>
                            <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John Smith</span>
                                <span class="ct_text_636363">10:23
                                    AM</span>
                            </h6>
                            <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Has anyone read the new Asimov
                                collection?
                                The reviews look promising!</p>
                        </div>

                    </div>
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                        <div>
                            <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John Smith</span>
                                <span class="ct_text_636363">10:23
                                    AM</span>
                            </h6>
                            <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Has anyone read the new Asimov
                                collection?
                                The reviews look promising!</p>
                        </div>

                    </div>

                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                        <div>
                            <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John Smith</span>
                                <span class="ct_text_636363">10:23
                                    AM</span>
                            </h6>
                            <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Has anyone read the new Asimov
                                collection?
                                The reviews look promising!</p>
                        </div>

                    </div>

                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                        <div>
                            <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John Smith</span>
                                <span class="ct_text_636363">10:23
                                    AM</span>
                            </h6>
                            <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Has anyone read the new Asimov
                                collection?
                                The reviews look promising!</p>
                        </div>

                    </div>


                </div>



            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="ct_white_bg">
                    <h4 class="ct_fs_18 ct_fw_600 mb-0 pb-3">Participants</h4>
                    <hr class="my-0" style="border-color: #0000001A;">
                    <div class="ct_participent_scroll">
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <img src="assets/img/user_1.png" alt="" class="ct_img_40">
                            <div>
                                <h6 class="ct_fs_18  mb-0 ct_fw_400"><span class="ct_fw_600">John
                                        Smith</span>

                                </h6>
                                <p class="mb-0 ct_text_clr_6B7280 ct_fw_400">Author</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>