<section class="ct_login_bg   ">
      <div class="container">
            <div class="row">
                  <div class="col-xxl-6 col-xl-6 col-lg-8 col-md- mx-auto">
                        <div class="ct_login_white_bg ct_mt_60 ct_mb_60">
                              <div class="text-center mb-4">
                                    <h4 class="ct_fs_28 ct_fw_600">Reset Password </h4>
                                    <p class="mb-0 ct_fs_14">Enter the new password you want to set for your account</p>
                              </div>
                              <form [formGroup]="Form">
                                    <div class="ct_input-container position-relative">
                                          <i class="fa-regular ct_eye_show" (click)="isShowNew = !isShowNew"
                                                [ngClass]="isShowNew ? 'fa-eye':'fa-eye-slash'"></i>
                                          <input placeholder="New Password" class="ct_input-field"
                                                [type]="isShowNew ? 'text' : 'password'" formControlName="newPassword">

                                          <label for="ct_input-field" class="ct_input-label">New Password</label>
                                          <span class="ct_input-highlight"></span>

                                          <div *ngIf="Form.controls['newPassword'].invalid && Form.controls['newPassword'].touched"
                                                class="error-message">
                                                <div *ngIf="Form.controls['newPassword'].errors?.['required']"
                                                      class="ct_fs_14 mt-1">
                                                      New password is
                                                      required.
                                                </div>
                                                <div
                                                      *ngIf="Form.controls['newPassword'].errors?.['strongPassword'] && !Form.controls['newPassword'].errors?.['required']">
                                                      <div *ngIf="
                                    !Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                            class="ct_fs_14 mt-1">
                                                            New password must be at least 8 characters long.
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                            class="ct_fs_14 mt-1">
                                                            New password must contain at least one uppercase letter.
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                            class="ct_fs_14 mt-1">
                                                            New password must contain at least one lowercase letter.
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                            class="ct_fs_14 mt-1">
                                                            New password must contain at least one number.
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasSpecialCharacter &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                            class="ct_fs_14 mt-1">
                                                            New password must contain at least one special character.
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="ct_input-container position-relative">
                                          <i class="fa-regular ct_eye_show" (click)="isShowConfirm = !isShowConfirm"
                                                [ngClass]="isShowConfirm ? 'fa-eye':'fa-eye-slash'"></i>
                                          <input placeholder="Confirm Password" class="ct_input-field"
                                                formControlName="confPassword"
                                                [type]="isShowConfirm ? 'text' : 'password'">

                                          <label for="ct_input-field" class="ct_input-label">Confirm Password</label>
                                          <span class="ct_input-highlight"></span>

                                          <div *ngIf="Form.errors?.['passwordMismatch'] && Form.controls['confPassword'].touched"
                                                class="error-message">
                                                <div class="ct_fs_14 mt-1">
                                                      Passwords do not match.
                                                </div>
                                          </div>
                                    </div>
                                    <div class="mt-5">
                                          <a (click)="onSubmit()" type="button" class="ct_purple_btn w-100">Set
                                                New Password</a>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
</section>

<app-loader *ngIf="loading"></app-loader>