<div class="ct_px_30">
    <div class="container-fluid">
        <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_600 mb-5 ct_border_btm_1 pb-2 ct_w_fit_content">Contact
            Us
        </h4>

        <div class="row ">
            <div class="col-md-12">
                <div class="table-responsive ">
                    <table class="table ct_custom_table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User </th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Contact detail</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    3
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    4
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    5
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    6
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    7
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    8
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    9
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    10
                                </td>
                                <td class="ct_text_clr_6B7280">John Wick</td>
                                <td class="ct_text_clr_6B7280">issue while downloading</td>
                                <td class="ct_text_clr_6B7280">
                                    2025-01-10
                                </td>
                                <td class="ct_text_clr_6B7280">
                                    john.smithexample.com
                                </td>
                                <td>
                                    <a  class="ct_purple_link">Mark resolve</a>
                                </td>
                            </tr>


                        </tbody>

                    </table>

                </div>



            </div>


        </div>


    </div>
</div>