/* You can add global styles to this file, and also import other style files */
.err_msg {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    /* flex-direction: row-reverse; */
    color: red;
  }