<div class="ct_px_30 pb-5">
    <div class="container-fluid">
        <div class="d-flex align-items-center form-control py-3 mb-5">
            <a> <i class="fa-solid fa-arrow-left me-3" aria-colspan=""></i> </a>
            <h4 class="ct_fs_18 ct_text_clr_6B7280 ct_fw_600 mb-0">
                Order Details
            </h4>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_18  ct_fw_500 mb-0 mb-3">Product (03)</h4>
                <div class="table-responsive ">
                    <table class="table ct_custom_table">
                        <thead>
                            <tr>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub-Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="assets/img/book_8.png" alt="" class="ct_img_80">
                                        <div>
                                            <h6 class="ct_fs_18 ct_fw_600 mb-0">Digital Marketing Essentials
                                            </h6>
                                            <p class="mb-0 ct_text_clr_6B7280">by Sarah Johnson</p>
                                        </div>

                                    </div>
                                </td>
                                <td class="ct_text_clr_6B7280">$499</td>
                                <td class="ct_text_clr_6B7280">x1</td>

                                <td>
                                    <span class="ct_fw_600">$599</span>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>


            </div>


        </div>


    </div>
</div>

<div class="modal fade" id="ct_logout_modal_post" tabindex="-1" aria-labelledby="ct_delete_postLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header py-0 border-0">
            <button type="button" class="btn-close ct_close" data-bs-dismiss="modal" aria-label="Close"><i
                    class="fa-solid fa-xmark"></i></button>
        </div>
        <div class="modal-body">
            <div class="ct_delete_post_modal">
                <figure>
                    <div class="ct_delete_post_icon">
                        <i class="fa-solid fa-power-off"></i>
                    </div>
                    <figcaption class="mt-4">
                        <h4 class="ct_fs_18 ct_fw_600">Log Out</h4>
                        <p class="mb-0">Are you sure you want to logout? once you logout you need to login
                            again.</p>
                    </figcaption>
                </figure>
                <div class="modal-footer justify-content-center border-0 ct_modal_footer">
                    <button type="button" class="ct_blue_btn ct_outline_blue w-100 ct_fw_600"
                        data-bs-dismiss="modal">Cancel</button>
                    <a class="ct_blue_btn ct_btn_red w-100 ct_fw_600 text-center">Log
                        Out</a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>